<div class="row">

	<div class="col-sm-9 margin-bottom-lg">
		<div class="row">
			<div class="col-xs-12 margin-bottom-lg wysiwyg-content">
				{{{page.content}}}
			</div>
			<div class="col-xs-12 margin-bottom-lg">
				<p class="text-muted">
					<small>Published: {{page.publishedDateString}}</small>
				</p>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="row">
	  {{#each images}}
			<div class="col-xs-6 col-sm-12 margin-bottom-lg">
				<a href="{{large}}" data-toggle="lightbox" data-gallery="gallery" data-type="image">
					<img src="{{thumbnail}}" class="img img-responsive img-thumbnail">
				</a>
			</div>
		{{/each}}
	  {{#each files}}
			{{>fileAttachment}}
		{{/each}}
		</div>
	</div>

</div>
