<div class="row">
	<div class="col-sm-9 col-md-10 col-lg-9 margin-bottom-lg">
		{{{page.content}}}
	</div>
	<div class="col-sm-3 col-md-2 col-lg-3">
		<div class="row">
	  {{#each images}}
			<div class="col-xs-6 col-sm-12 margin-bottom-lg">
				<a href="{{large}}" data-toggle="lightbox" data-gallery="page.slug" data-type="image">
					<img src="{{thumbnail}}" class="img img-responsive img-thumbnail">
				</a>
			</div>
		{{/each}}
		</div>
	</div>
	</div>
</div>
