<input type="hidden" id="menu-data" value="{{data.jsonMenu}}">
<input type="hidden" id="result-data" value="{{data.jsonResults}}">
<div id="results-page"></div>
<script type="text/javascript">
	window.clubSiteAdmin = { init: function() {
		clubSiteAdmin.resultsInit();
	} }
</script>

