<div class="col-xs-12 margin-bottom-lg">

	<div class="img img-responsive img-thumbnail update-icon-wrapper file-attachment">
		
		<a href="{{url}}" target="_blank" title="Click to open this file attachment"><span class="{{iconClass}} icon"></span> <span class="text">{{name}}</span> <small class="text">{{uploadDate}}</small></a>

	</div>

</div>
