.grey-bg {
  background-color: $gray-lighter;
}

$screen-xxs-max: 480px;
// banner image styling
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.img-center {
    margin: 0 auto;
}
.business-header {
	position: relative;
  margin-top: -20px;
  margin-bottom: 0px;
  height: 350px; 
	border-bottom: 1px #fff solid;
	.title-wrapper {
		position: absolute;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 25px;
		bottom: 0px;
		background-color: rgba(0,0,0,0.25);
		h1 {
			@media (min-width: $screen-sm-min) {
				margin-left: -17px;
			}
			font-size: 48px !important;
			@media (max-width: $screen-xxs-max) {
				font-size: 36px !important;
			}
			small strong {
        color: lighten($gray-light, 20%);
			}
		}
	}
	.title-wrapper.home-page {
		// no translucent background for home
		background: none;
		bottom: 20px;
	}
}
.header-border {
	border: none;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 1px;
	color: $gray;
	background-color: $gray;
}
.tagline {
	text-shadow: 0 0 20px #000; // increase shadow size!
}

// adjust margins at the top of the page
h1, .h1,
h2, .h2,
h3, .h3 {
	margin-top: 15px;
}
.top-margin {
	margin-bottom: 15px;
}

// homepage updates
.updates-list .well {
  padding: 14px;
  background-color: #fff;
	overflow-wrap: break-word;
  .col-sm-3, .col-xs-2 {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 5px;
			min-width: 100px;
    }
    @media (min-width: $screen-sm-min) {
      padding-right: 5px;
    }
    .img {
      max-width: 150px;
      width: 100%;
    }
    .img:hover {
			opacity: 0.7;
			filter: alpha(opacity=70);
		}
    .img-thumbnail {
      padding: 10px; 
			border-color: $fade-primary;
			border-width: 2px;
      .update-icon {
				display: block;
				color: $fade-primary;
				@media (max-width: $screen-xs-max) {
					font-size: 2em;
				}
				@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
					font-size: 2.7em;
				}
				@media (min-width: $screen-md-min) {
					font-size: 3.4em;
				}
      }
    }
  }
  .col-sm-9 {
    @media (max-width: $screen-xs-max) {
      float: none;
		}
	}
  .date-updated {
    margin-bottom: 0px; 
    em {
      font-family: $font-family-sans-serif;
    }
  }
}

// gallery
.square-thumb {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
	img {
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}
.update-icon-wrapper {
	padding: 0px !important;
	a {
		display: block;
		padding: 10px;
	}
	a:hover {
		text-decoration: none;
		background-color: $gray-lighter;
	}
}

/*
 $gray-base:
 $gray-darker:
 $gray-dark:
 $gray:
 $gray-light:
 $gray-lighter:
*/


// homepage banner content
.home-banner {
  display: block;
  max-width: $screen-xxs-max;
  width: 100%;
	font-size: 39px;
}
.home-banner span {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  @media (max-width: $screen-xxs-max) {
    margin-left: -12px;
  }
  text-align: right;
}
.home-banner span img {
  display: inline-block;
  max-width: $screen-xxs-max;
  width: 100%;
  margin-right: -12px;
}
.home-banner small {
  float: right;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 55%;
  @media (max-width: $screen-xxs-max) {
    font-size: 50%;
  }
  color: #fff;
}
.nowrap {
	white-space: nowrap;
}

// taken from https://stackoverflow.com/a/20548578/998793 - NB: the <!-- --> tags!
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

// extra styling for re-usable layout
$header-pad: 18px;
/* $page-bg-color: #CCC; */
body {
  /* background: url(/images/squairy_light.png); */
  /* background: url(/images/ticks.png); */
  background: url(/images/shattered_2X.png);
}
#body {
  @media (min-width: $screen-sm-min) {
		padding-top: $header-pad;
		padding-bottom: $header-pad;
  }
}
#body > .container {
	padding-top: $header-pad;
	background-color: #fff;
}
.footer-wrap {
	background-color: #fff;
  @media (min-width: $screen-sm-min) {
  }
}
.pad-layout {
	/* background-color: fuchsia; */
	paddding: 0px;
	@media (min-width: $screen-md-min) {
		$pad: 15px;
		padding-left: $pad;
		padding-right: $pad;
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: $gray-dark;
}
#footer > p {
	margin-top: 3px;
	margin-bottom: 3px;
}
#footer .nowrap img {
	margin-left: 5px;
	margin-bottom: 19px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.no-margin-top {
	margin-top: 0px;
}
.no-margin-bottom {
	margin-bottom: 0px;
}

// navbar tweaks for club logo
#body {
  background-image: url(/images/lfrc-logo-navbar-hover.gif); // trigger pre-load!
  background-position-y: -50px;                              // out of site...
  background-repeat: no-repeat;
}
.navbar-brand {
  width: 139px;
  background-image: url(/images/lfrc-logo-navbar.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 16px;
  &:hover {
    background-image: url(/images/lfrc-logo-navbar-hover.gif);
  } 
}
.navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 23px;
}
@media (min-width: $grid-float-breakpoint) {
	.navbar-nav {
	  float: none; // prevent wrap after logo
	}
}


// fix menu hover color
.dropdown-menu .highlighted:hover {
  color: #fff;
  background-color: $brand-primary !important;
}
.dropdown-menu .highlighted,
.dropdown-menu .highlighted:active {
  color: #ccc;
  background-color: $fade-primary !important;
}

//// results
// tables
.table.table-striped {
	overflow-x: scroll;
}
// collapsable list group
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}
.list-group.list-group-root .list-group {
    margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group-item .glyphicon {
    margin-right: 5px;
}
// Loader: loading spinner
.spinner > img {
  height: 2.5em;
  margin-left: 1em;
  margin-top: -0.55em;
}
.spinner > h1 {
  display: inline !important;
  font-style: italic;
}

// utility classes for adding vertical margin
$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);
@each $name, $value in $margins {
  .margin-left-#{$name} {
    margin-left: $value;
  }

  .margin-top-#{$name} {
    margin-top: $value;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value;
  }
}
