// banner image styling
.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}
.img-center {
    margin: 0 auto;
}
.business-header {
  margin-top: -20px;
  margin-bottom: 20px;
  height: 400px;
}

// homepage banner content
.home-banner {
  display: block;
  max-width: 480px;
  width: 100%;
}
.home-banner span {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  @media (max-width: 480px) {
    margin-left: -12px;
  }
  text-align: right;
}
.home-banner span img {
  display: inline-block;
  max-width: 408px;
  width: 100%;
  margin-right: -12px;
}
.home-banner small {
  float: right;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
  font-size: 55%;
  @media (max-width: 480px) {
    font-size: 50%;
  }
  color: #fff;
}



#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

// navbar tweaks for club logo
body {
  background-image: url(/images/lfrc-logo-navbar-hover.gif); // trigger pre-load!
  background-position-y: -50px;                              // out of site...
  background-repeat: no-repeat;
}
.navbar-brand {
  width: 139px;
  background-image: url(/images/lfrc-logo-navbar.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 16px;
  &:hover {
    background-image: url(/images/lfrc-logo-navbar-hover.gif);
  } 
}
.navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 23px;
}


// collapsable list group
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}
.list-group.list-group-root .list-group {
    margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}
.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}
.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group-item .glyphicon {
    margin-right: 5px;
}

// fix menu hover color
.dropdown-menu .highlighted:hover {
  color: #fff;
  background-color: $brand-primary !important;
}
.dropdown-menu .highlighted,
.dropdown-menu .highlighted:active {
  color: #ccc;
  background-color: $fade-primary !important;
}

/* Loader: loading spinner */
.spinner > img {
  height: 2.5em;
  margin-left: 1em;
  margin-top: -0.55em;
}
.spinner > h1 {
  display: inline !important;
  font-style: italic;
}